.bestseller {
	padding-top: 24px;
	.title {
		font-size: 2.8125rem;
		font-family: $heading-font;
		font-weight: 500;
		color: $black-color;
		text-transform: uppercase;
		line-height: 1.222;
		letter-spacing: 1px;
		margin-left: -2px;
		margin-bottom: 35px;
		@media only screen and (max-width: 767px) {
			text-align: center;
		}
	}
	.row {
		&>* {
			padding-left: 0px;
			padding-right: 0px;
			border: solid 1px $light-grey;
		}
	}
	.product-category {
		position: relative;
		.responsive-img {
			img {
				width: 100%;
			}
		}
		.favourite {
			position: absolute;
			@media only screen and (max-width: 767px) {
				left: 10px;
				top: 10px;
			}
			@media only screen and (min-width: 768px) {
				left: 45px;
				top: 39px;
			}
			color: $black-color;
			font-size: 1rem;
		}
		.top-icon {
			position: absolute;
			@media only screen and (max-width: 767px) {
				right: 10px;
				top: 10px;
			}
			@media only screen and (min-width: 768px) {
				right: 45px;
				top: 31px;
			}
			color: white;
			background-color: $primary-color;
			font-size: 0.875rem;
			font-family: "Inter";
			text-align: center;
			width: 70px;
			height: 30px;
		}
		.description {
			display: flex;
			flex-direction: column;
			width: 100%;
			padding-left: 45px;
			.serial-number {
			  font-size: 0.75rem;
			  font-family: $body-font;
			  line-height: 1;
			  color: $light-grey;
				margin-bottom: 17px;
			}
			.name {
			  font-size: 1.5625rem;
			  font-family: "Inter";
			  font-weight: bold;
			  color: $black-color;
			  line-height: 0.96;
			  margin-bottom: 13px;
			  overflow: hidden;
			  text-overflow: ellipsis;
			  white-space: nowrap;
			}
			.detail {
			  font-size: 0.875rem;
			  font-family: $body-font;
			  color: $secondary-color;
			  line-height: 1.5;
			  margin-bottom: 10px;
			  padding-right: 95px;
			}
			.rating {
				i {
					font-size: 0.91rem;
					margin-right: 5px;
					color: $primary-color;
				}
				margin-bottom: 14px;
			}
			.number {
			  font-size: 1.25rem;
			  font-family: "Inter";
			  color: $black-color;
			  font-weight: bold;
		  	line-height: 1.2;
				margin-bottom: 25px;
			}
			.decrease {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 18px;
				.value-box {
					.current-value {
						font-size: 1.25rem;
					  font-family: "Inter";
					  color: $danger-color;
					  font-weight: bold;
				  	line-height: 1.2;
					}
					.previous-value {
						font-size: 0.875rem;
			  		font-family: "Inter";
			 			color: $grey;
			  		font-weight: bold;
			  		margin-left: 5px;
					}
				}
				.decrease-percent {
					width: 70px;
					height: 30px;
					color: white;
					background-color: $danger-color;
					margin-left: 8px;
					text-align: center;
				}
			}
		}
		padding-bottom: 50px;
	}
	.button-wrapper {
		padding-left: 44px;
		padding-right: 44px;
		button {
			width: 100%;
			background-color: $primary-color;
			border: none;
			height: 60px;
			color: white;
			letter-spacing: 1.5px;
			font-family: "Inter";
		}
	}
}