
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
}

.post-content {
	position: relative;
	padding-top: 1rem;
}

.post-date {
	color: $theme-color;
	font-family: $heading-font;
	padding-bottom: 1rem;
	font-size: $h6-font-size;
	font-weight: 500;
}

.post-title {
	line-height: 1.3;

	@include media-breakpoint-up(xl) {
		// width: 70%;
	}
}
.entry-title {
	h4 {
		font-family: $body-font;
		font-weight: 400;
		line-height: $line-height-sm;		

		a {
			color: $heading-color;
			
			&:hover { color: $theme-color; }
		}
	}
}

.entry-meta {
	list-style: none;
	margin-bottom: 1.25rem;

	li {
		i {
			color: rgba($theme-color, 0.5);
			margin-right: 0.75rem;
		}

		a {
			font-weight: 300;
		}
	}
}

.entry-content { 
	position: relative; 
	margin-bottom: 3.125rem;
}

.entry-link {
	display: block;
	color: $theme-color;
	font-family: $body-font;
	text-transform: uppercase;
	font-size: $h6-font-size;
	font-weight: 600;
	line-height: $line-height-lg;
}