.breadcrumb {
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-family: $body-font;
	.first {
		color: #000;
		opacity: 0.5;
		margin-right: 21px;
	}
	.link-icon {
		width: 6px;
		height: 6px;
		border-radius: 100%;
		border: solid 0px;
		background-color: $primary-color;
	}
	.second {
		margin-left: 20px;
		color: $primary-color;
	}
}