.company-history {
	display: flex;
	flex-direction: column;
	@media only screen and (max-width: 767px) {
		padding-bottom: 20px;
	}
	@media only screen and (min-width: 768px) {
		padding-bottom: 30px;
	}
	@media only screen and (min-width: 1440px) {
		padding-bottom: 30px;
	}
	@media only screen and (min-width: 1920px) {
		padding-bottom: 85px;
	}

	.content {
		.description {
			font-size: 0.875rem;
			font-family: 'Roboto';
			color: $secondary-color;
			line-height: 1.5;
		}
	}

	.per-year-content {
		display: flex;
		@media only screen and (min-width: 0px) {
			flex-direction: column;
		}
		@media only screen and (min-width: 1440px) {
			flex-direction: row;
		}
		.description-part {
			.header-title {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				.column-box {
					width: 51.6667%;
				}
				.title {
					font-size: 1.5625rem;
					font-family: "Inter";
					font-weight: 600;
					line-height: 1.4;
					color: $black-color;
					margin-left: -1px;
				}
				.underline {
					height: 2px;
					border: solid 0px none;
					background-color: $primary-color;
					width: 110px;
					margin-left: -1px;
				}
				.year-text {
					margin-top: -8px;
					margin-right: 1px;
				}
			}
		}
	}

	@media only screen and (max-width: 767px) {
		padding-top: 20px;
		.banner-img {
			padding-bottom: 20px;
		}
	}

	@media only screen and (min-width: 768px) {
		padding-top: 30px;
		.banner-img {
			padding-bottom: 20px;
		}
	}

	@media only screen and (min-width: 1440px) {
		padding-top: 60px;
		.banner-img {
			padding-bottom: 30px;
		}
	}
	@media only screen and (min-width: 1920px) {
		padding-top: 116px;
		.banner-img {
			margin-left: -1px;
			padding-bottom: 50px;
		}
	}
	.content-2008 {
		.description-part {
			.row-box {
				align-items: center;
			}
		}
	}
	@media only screen and (max-width: 767px) {
		.content-2006 {
			align-items: center;
			.img-part {
				width: 80%;
				margin-bottom: 20px;
			}
			.description-part {
				width: 100%;
				.year-text {
					text-align: center;
					img {
						width: 75%;
					}
					margin-top: 15px!important;
					margin-bottom: 10px!important;
				}
				.header-title {
					flex-direction: column;
					.title {
						padding-bottom: 15px;
					}
					margin-bottom: 5px;
				}
				.content {
					display: flex;
					flex-direction: column;
					.description {
						text-align: center;
						margin-bottom: 10px;
					}
				}
				.column-box {
					width: 100%!important;
					text-align: center;
				}
				.underline {
					width: 100%!important;
				}
				.row-box {
					flex-direction: column;
				}
				.left-content {
					width: 100%;
					padding-bottom: 20px;
				}
				.right-content {
					width: 100%;
				}
			}
		}
		.content-2008 {
			align-items: center;
			padding-top: 20px;
			.description-part {
				width: 100%;
				.year-text {
					text-align: center;
					img {
						width: 75%;
					}
					margin-top: 15px!important;
					margin-bottom: 10px!important;
				}
				.header-title {
					flex-direction: column!important;
					.title {
						padding-bottom: 15px;
					}
					margin-bottom: 5px;
				}
				.content {
					.description {
						margin-bottom: 10px;
						text-align: center;
					}
				}
				.column-box {
					width: 100%!important;
					text-align: center;
				}
				.underline {
					width: 100%!important;
				}
				.row-box {
					flex-direction: column;
				}
				.left-content {
					width: 100%;
					padding-bottom: 20px;
				}
				.right-content {
					width: 100%;
				}
			}
			.img-part {
				margin-top: 20px;
				width: 100%;
			}
		}
	}
	@media only screen and (min-width: 768px) {
		.content-2006 {
			align-items: center;
			.img-part {
				width: 30%;
				margin-bottom: 20px;
			}
			.description-part {
				width: 100%;
				.year-text {
					img {
						width: 75%;
						float: right;
					}
				}
				.header-title {
					.title {
						padding-bottom: 15px;
					}
					margin-bottom: 5px;
				}
				.content {
					.description {
						margin-bottom: 10px;
					}
				}
				.left-content {
					width: 50%;
					padding-right: 20px;
				}
				.right-content {
					width: 50%;
				}
			}
		}
		.content-2008 {
			align-items: center;
			padding-top: 20px;
			.description-part {
				width: 100%;
				padding-right: 20px;
				.year-text {
					img {
						width: 75%;
						float: right;
					}
				}
				.header-title {
					.title {
						padding-bottom: 15px;
					}
					margin-bottom: 5px;
				}
				.content {
					.description {
						margin-bottom: 10px;
					}
				}
				.left-content {
					width: 70%;
					padding-right: 10px;
				}
				.right-content {
					width: 30%;
					padding-left: 10px;
				}
			}
			.img-part {
				margin-top: 20px;
				width: 30%;
			}
		}
	}
	@media only screen and (min-width: 1440px) {
		.content-2006 {
			.img-part {
				width: 41.13%;
				padding-right: 40px;
			}
			.description-part {
				width: 58.87%;
				padding-right: 20px;
				.header-title {
					.title {
						margin-top: -8px;
						padding-right: 20px;
						padding-bottom: 15px;
					}
					margin-bottom: 15px;
				}
				.content {
					.description {
						margin-bottom: 15px;
					}
				}
				.left-content {
					width: 51.6667%;
					padding-right: 20px;
				}
				.right-content {
					width: 48.3333%;
				}
			}
		}
		.content-2008 {
			padding-top: 40px;
			.description-part {
				width: 58.87%;
				padding-right: 20px;
				.header-title {
					.title {
						margin-top: -8px;
						padding-right: 20px;
						padding-bottom: 15px;
					}
					margin-bottom: 15px;
				}
				.content {
					.description {
						margin-bottom: 15px;
					}
				}
				.left-content {
					width: 51.6667%;
					padding-right: 20px;
				}
				.right-content {
					width: 48.3333%;
					padding-left: 20px;
					.responsive-img {
						img {
							margin-top: 5px;
						}
					}
				}
			}
			.img-part {
				width: 41.13%;
				padding-left: 50px;
			}
		}
	}
	@media only screen and (min-width: 1920px) {
		.content-2006 {
			.img-part {
				width: 41.13%;
				padding-right: 64px;
			}
			.description-part {
				width: 58.87%;
				padding-right: 30px;
				.header-title {
					.title {
						padding-right: 82px;
						padding-bottom: 26px;
					}
					margin-bottom: 25px;
				}
				.content {
					.description {
						margin-bottom: 21px;
					}
				}
				.left-content {
					width: 51.6667%;
					padding-right: 30px;
				}
				.right-content {
					width: 48.3333%;
				}
			}
		}
		.content-2008 {
			padding-top: 80px;
			.description-part {
				width: 58.87%;
				padding-right: 30px;
				.header-title {
					.title {
						padding-right: 82px;
						padding-bottom: 26px;
					}
					margin-bottom: 25px;
				}
				.content {
					.description {
						margin-bottom: 21px;
					}
				}
				.left-content {
					width: 51.6667%;
					padding-right: 30px;
				}
				.right-content {
					width: 48.3333%;
					padding-left: 30px;
				}
			}
			.img-part {
				width: 41.13%;
				padding-left: 64px;
			}
		}
	}
}