
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/
/////contact
#content {
	.container-fluid {
		padding: 0px;
		.contact_information  {
			padding-left: 168px;
			padding-right: 158px;
			.title {
				margin-top: 70px;
				p {
					font-family: Inter;
					font-size: 2.82rem;
					font-weight: 600;
					letter-spacing: 0px;
					color: black;
					margin-bottom: 0px;
				}
			}
		} 
		.map {
			margin-top: 14px;
			.row {
				margin: 0px;
				.col-lg-12 {
					padding: 0px;
					img {
						width: 100%;
						 }
					}
				}
			}
		.send {
				padding-left: 169px;
				padding-right: 169px;
				margin-top: 64px;
				.title {
					margin-top: 6px;
					p {
						font-family: Inter;
						font-size: 2.82rem;
						font-weight: 500;
						line-height: 56px;
						color: #000;
						opacity: 0.8;
						margin-bottom: 0;
					}
				}
				.send_content {
					font-family: $body-font;
					padding-right: 15px;
					margin-top: 23px;
					line-height: 21px;
					font-size: 0.875rem;
					p {
						margin-bottom: 1.2rem;
					}
				}
				form {
					margin-top: 6px;
					padding-right: 74px;
					padding-left: 57px;
					input {
						margin-bottom: 12px;
						padding-left: 25px;
						width: 100%;
						height: 66px;
						font-family: Inter;
						border: 2px solid rgb(220, 220, 220);
					}
					label {
						font-size: 0.938rem;
						margin-bottom: 10px;
						color: rgb(19, 19, 19);
					}
					button {
						margin-top: 15px;
						width: 213px;
						height: 55px;
						background-color: rgb(46, 105, 197);
						border: none;
						color: rgb(216, 224, 241);
						letter-spacing: 1px;
					}
				}
				.sofa {
					position: relative;
					left: -78px;
					top: 16px;
					.title {
						margin-top: 32px;
						p {
							font-weight: 400;
						}
					}
					.content {
						font-family: Roboto;
						padding-right: 18px;
						margin-top: 6px;
						p {
							letter-spacing: 0.4px;
							font-size: 0.8125rem;
							line-height: 20px;
						}
					}
					.phone {
						padding-left: 15px;
						width: 160px;
						margin-top: 27px;
						p {
							font-size: 1.25rem;
							font-family: Inter;
							margin: 0px;
							color: rgb(46, 105,197);
						}
						span {
							position: relative;
							top: -13px;
							color: rgb(135, 135, 135);
						}
					}
					.email {
						padding-left: 15px;
						width: 160px;
						p {
							font-size: 1.25rem;
							font-family: Inter;
							margin: 0px;
							color: rgb(46, 105,197);
						}
						span {
							position: relative;
							top: -13px;
							color: rgb(170,170, 170);
						}
					}
				}
			}
	}
	.pr {
		padding-right: 25px;
	}
	.pl {
		padding-left: 25px;
	}
	////////////
	@media (max-width: 1892px) {
		.send {
			.title {
				p {
					font-size: 2.563rem!important;
				}
			}
		}
	}
	@media (max-width: 1766px) {
		.send {
			.title {
				p {
					font-size: 2.125rem!important;
				}
			}
		}
		.sofa {
			img {
				width: 119%!important;
			}
			.phone {
				padding-left: 0px!important;
				position: relative;
				left: -32px;
			}
			.email {
				padding-left: 0px!important;
				position: relative;
				left: -32px;
			}
		}
	}
	@media (max-width: 1563px) {
		.send {
			.title {
				p {
					font-size: 1.875rem!important;
				}
			}
			.send_content {
				padding-right: 0px!important;
				p {
					font-size: 0.8125rem!important;
				}
			}
		}
		.sofa {
			img {
				width: 119%!important;
			}
			.phone {
				margin-top: 41px!important;
				padding-left: 0px!important;
				position: relative;
				left: -32px;
				p {
					font-size: 1.125rem!important;
				}
			}
			.email {
				padding-left: 0px!important;
				position: relative;
				left: -32px;
				p {
					font-size: 1.125rem!important;
				}
			}
		}
	}
	@media (max-width: 1421px) {
		.send {
			.title {
				p {
					font-size: 1.625rem!important;
				}
			}
			form {
				padding-left: 0px!important;
				input {
					height: 48px!important;
				}
			}
		}
		.sofa {
			.phone {
				margin-top: 41px!important;
				padding-left: 0px!important;
				position: relative;
				left: -42px;
				p {
					font-size: 1.125rem!important;
				}
			}
			.email {
				padding-left: 0px!important;
				position: relative;
				left: -42px;
				p {
					font-size: 1.125rem!important;
				}
			}
		}
	}
	@media (max-width: 1299px) {
		.send {
			padding-left: 140px!important;
			padding-right: 70px!important;
			.title {
				p {
					font-size: 1.5rem!important;
				}
			}
			.send_content {
				margin-top: 0px!important;
				line-height: 15px;
				p {
					font-size: 0.8125rem!important;
				}
			}
		}
		.sofa {
			.phone {
				p {
					font-size: 0.9375rem!important;
				}
			}
			.email {
				p {
					font-size: 0.9375rem!important;
				}
			}
		}
		.pr {
			padding-right: 0px!important;
		}
		.pl {
			padding-left: 0px!important;
		}
	}
	@media (max-width: 1176px) {
		.send {
			.title {
				p {
					font-size: 1.4375rem!important;
				}
			}
			.send_content {
				p {
					font-size: 0.75rem!important;
				}
			}
		}
	}
	@media (max-width: 995px) {
	
		.send {
			padding-left: 100px!important;
			padding-right: 100px!important;
			.title {
				p {
					font-size: 1.3125rem!important;
				}
			}
			.send_content {
				p {
					font-size: 11px!important;
				}
			}
			.pl {
				padding-left: 25px!important;
			}
			.pr {
				padding-right: 25px!important;
			}
			form {
				padding-right: 0px!important;
			}
		}
		.sofa {
			left: 0px!important;
			img {
				width: 100%!important;
			}
			.information {
				display: flex;
				justify-content: center;
				.phone {
					margin: 0px!important;
	
				}
			}
		}
	
	}
	@media (max-width: 567px) {
		.contact_information {
			padding-left: 20px!important;
			padding-right: 20px!important;
			.title {
				margin-top: 55px!important;
				p {
					font-size: 2.4375rem!important;
				}
			}
		}
		.send {
			padding-left: 20px!important;
			padding-right: 20px!important;
		}
		.information {
			display: block!important;
			.phone {
				width: 112%!important;
			}
			.email {
				width: 112%!important;
			}
		}
	}

}

#content_404 {
    .img_404 {
		text-align: center;
		width: 100%;
		position: relative;
		.btn_404 {
			position: absolute;
			text-align: center;
			left: 50%;
			transform: translateX(-50%);
			bottom: 3rem;
			
			@include media-breakpoint-up(md) {
				bottom: 15rem;
			}

			button {
				height: 55px;
				width: 212px;
				background-color: #2e69c5;
				border: none;
				letter-spacing: 0.5px;
				font-family: $heading-font;
			}
		}
	}
}

.mx-170 {
	margin-left: 39px !important;
	margin-right: 39px !important;
}
@media (min-width: 576px) {
	.mx-170 {
		margin-left: 70px !important;
		margin-right: 70px !important;
	}
}
@media (min-width: 768px) {
	.mx-170 {
		margin-left: 93px !important;
		margin-right: 93px !important;
	}
}
@media (min-width: 992px) {
	.mx-170 {
		margin-left: 120px !important;
		margin-right: 120px !important;
	}
}
@media (min-width: 1200px) {
	.mx-170 {
		margin-left: 146px !important;
		margin-right: 146px !important;
	}
}
@media (min-width: 1400px) {
	.mx-170 {
		margin-left: 170px !important;
		margin-right: 170px !important;
	}
}

.feedback-bg {
	background-image: url(../images/subscribe-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 100%;
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
	@include media-breakpoint-up(lg){
		padding-top: 4.5rem !important;
		padding-bottom: 5rem !important;
	}
}

.mb-5 {
	margin-bottom: 2rem !important;
}

.mb-4 {
	margin-bottom: 1rem !important;
}