
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	position: relative;	

	// Transparent header
	&.transparent-header {
		background: transparent;
		z-index: 199;

		& + #banner {
			top: -$header-height;
			margin-bottom: -$header-height;
		}
	}
}


/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/

// #header-wrap {
// 	padding-left: 2.8125rem;
// 	padding-right: 2.8125rem;
// }


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.navbar-brand {
	margin-right: 3.75rem;

	// img {
	// 	width: 6.5625rem;
	// 	height: auto;
	// }
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {
	.nav-link {
		color: $primary-menu-font-color;
		font-family: $primary-menu-font;
		font-size: $primary-menu-font-size;
		font-weight: $primary-menu-font-weight;		
		letter-spacing: $primary-menu-font-spacing;
		text-transform: $primary-menu-font-tt;

		@media (min-width: 1200px) {
			line-height: 1;
			padding-top: $primary-menu-padding;
			padding-bottom: $primary-menu-padding;	
			padding-left: 25px;
			padding-right: 25px;
		}

		@media (min-width: 1900px) {
			padding-left: 41.5px;
			padding-right: 41.5px;
		}

		white-space: nowrap;
		text-overflow: ellipsis;
		// @include media-breakpoint-up(xl) {

		// }
	}

	.nav-item {
		&.current,
		&:hover {
			a {
				color: $theme-color;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/


#top-btns {

	@media (min-width: 1200px) {
		padding-left: 1.375rem;	
		padding-top: 10px;
		padding-bottom: 10px;
		border-left: 1px solid #e5e5e5;
	}

	.nav-item {
		margin-right: 1rem;

		@media (min-width: 1200px) {
			margin-right: 0;
		}
	}

	.nav-link {
		color: $top-btn-font-color;		
		font-size: $top-btn-font-size;	
		line-height: 1;

		@media (min-width: 1200px) {
			padding: 0 0.9375rem;
		}

		&:hover {
			color: $primary;
		}
	}
}


/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/

#top-links {
	.nav-item {			
		@media (min-width: 1200px) {
			padding-right: 1.875rem;		
		}
	}

	a.nav-link {
		color: $topbar-color;
		display: block;
		font-size: 0.75rem;	
		
		@media (min-width: 1200px) {
			padding: 0;		
		}

		&:hover {
			color: $topbar-hover-color;
		}
	}

	.dropdown-toggle {
		&::after {
			margin-left: .75em;
		}
	}

	.dropdown-menu {
		background: $white;
		border: 0;
		top: $topbar-line-height;
		left: 0;
		width: 100%;		
		margin: 0;
		border-top: 3px solid $theme-color;
		@include border-radius(0);
		@include box-shadow(0 0 5px -1px rgba($black, 0.2));

		@media (min-width: 1200px) {
			width: 8.75rem;
		}

		a.dropdown-item {
			color: $heading-color;
			height: 2.25rem;
			line-height: 2.25rem;
			font-size: 0.75rem;				
			padding: 0 0.75rem;

			&:hover {
				color: $theme-color;
			}
		}

		img {
			display: inline-block;
			position: relative;
			top: -1px;
			width: 1rem;
			height: 1rem;
			margin-right: 0.25rem;
		}
	}
}


/* ----------------------------------------------------------------
	Top Infos
-----------------------------------------------------------------*/
#top-infos {
	background-color: #f7f7f7;
	position: relative;

	@include media-breakpoint-up(xl) {
		height: $topbar-height;
	}

	line-height: $topbar-line-height;
	font-size: 0.75rem;

	a {		
		font-size: 0.75rem;
		text-transform: uppercase;
		line-height: $topbar-line-height;

		&:hover {			
			font-weight: 700;
		}
	}

	.top-bar-info-text {
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-bottom: 0px;
	}
}


/* ----------------------------------------------------------------
	Top Social
-----------------------------------------------------------------*/

#top-social,
#top-social ul { margin: 0; }

#top-social {
	ul {
		display: flex;
		align-items: center;
	}

	li {
		padding: 0 0.25rem;

		a {
			background-color: rgba($topbar-color, 0.7);
			border-radius: 50%;
			color: rgba($topbar-hover-color, 0.7);
			display: inline-block;
			line-height: 1.8125rem;
			width: 1.8125rem;
			height: 1.8125rem;		
			vertical-align: middle;
			text-align: center;

			&:hover {
				color: $topbar-hover-color;
			}

			i {
				vertical-align: top;
				line-height: 1.8125rem;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Top Login
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/
#search-box {
	padding: 5px 25px;
	border: 1px solid #d9d9d9;
	display: flex;
	flex-direction: row;
	align-items: center;
	
	@include media-breakpoint-down(xl) {
		margin-top: 1rem;
	}
	
	@include media-breakpoint-down(sm) {
		flex-flow: wrap;
	}

	input {
		border: none;
		flex-grow: 1;
		&::placeholder {
			color: #acacac;
		}

		margin-left: 12px;

		@media (min-width: 1900px) {
			width: 252px;
		}

		width: auto;
	}

	a {
		color: #acacac;
		margin-left: 20px;

		white-space: nowrap;

		i {
			margin-left: 14px;
		}

		@include media-breakpoint-down(md) {
			text-align: center;
		}
	}
}




/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Account
-----------------------------------------------------------------*/






