.about-us {
	.content-wrap {
		@media only screen and (max-width: 767px) {
			padding: 0px 15px 10px 15px;
		}
		@media only screen and (min-width: 768px) {
			padding: 0px 30px 10px 30px;
		}
		@media only screen and (min-width: 1440px) {
			padding: 0px 60px 20px 60px;
		}
		@media only screen and (min-width: 1920px) {
			padding: 0px 170px 20px 170px;
		}
		.responsive-img {
			img {
				max-width: 100%;
			}
		}
	}
}

.column-box {
	display: flex;
	flex-direction: column;
}

.row-box {
	display: flex;
	flex-direction: row;
}