
/*-----------------------------------------------------------------------------------

	Shortcodes: team.scss

-----------------------------------------------------------------------------------*/

.event-date {
	font-size: 8.125rem;
	color: #cccccc;
	line-height: 1;
}